#header {
  padding: 10px 24px;
}
.title {
  font-family: x-locale-heading-primary, Palatino, "Palatino Linotype",
    x-locale-heading-secondary, serif;
  font-size: 50px;
  font-weight: 700;
  padding: 12px 0px;
}
